/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

mat-card {
  margin: 5px 0;
}

.form-disabled-feedback {
  margin: 10px 0;
}

.template-group {
  gap: 8px;
  padding: 12px 0;
  border-bottom: 1px solid #d8d8d8;
}

.template {
  gap: 16px;
  padding-left: 16px;
}

.add-template {
  margin-left: 16px;
  max-width: 400px;
}
